Header set Access-Control-Allow-Origin "https://maps.humanities.manchester.ac.uk"
Header set Access-Control-Allow-Methods "GET,PUT,POST,DELETE"
Header set Access-Control-Allow-Headers "Content-Type, Authorization"
